<style scope>
    .st-sort-ascent:before{
        content: '\25B2';
    }

    .st-sort-descent:before{
        content: '\25BC';
    }

    table {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>

<table ng-class="options.tableClasses || defaultOptions.tableClasses" st-safe-src="data.rowlist" st-table="displayed">
    <thead>
        <tr>
            <th st-sort="{{o.pred}}" ng-repeat="o in order">
                {{o.title}}
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tr>
            <th ng-repeat="o in order">
                <input class="form-control search-input" st-search="{{o.pred}}" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trow in displayed">
            <td ng-repeat="o in order">
                {{format(trow, o)}}
            </td>
            <td>
                <button class="btn btn-primary" ng-click="onEditBtnClicked(trow)">Edit</button>
            </td>
        </tr>
    </tbody>	
    <tfoot>
        <tr>
            <td class="text-center"
                colspan="{{data.cols.length}}"
                st-pagination=""
                st-items-by-page="options.itemsByPage || defaultOptions.itemsByPage"
                st-displayed-pages="options.displayedPages || defaultOptions.displayedPages">
            </td>
        </tr>
    </tfoot>
</table>
