<style scope>
    .st-sort-ascent:before{
        content: '\25B2';
    }

    .st-sort-descent:before{
        content: '\25BC';
    }

    table {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .btn {
        margin: auto 2px;
    }
</style>

<table ng-show="data.rowlist" ng-class="options.tableClasses" st-safe-src="data.rowlist" st-table="displayed">
    <thead>
        <tr>
            <th st-sort="{{o.field}}" ng-repeat="o in order">
                {{o.title || o.field}}
            </th>
            <th ng-show="data.actionsColumn">
                {{options.actionsColumn.title}}
            </th>
        </tr>
        <tr>
            <th ng-repeat="o in order">
                <input class="form-control search-input" st-search="{{o.field}}" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trow in displayed">
            <td ng-repeat="o in order">
                {{format(trow, o)}}
            </td>
            <td ng-show="data.actionsColumn">
                <button ng-repeat="button in data.actionsColumn.buttons"
                    class="btn" ng-class="'btn-' + (button.type || 'default')"
                    ng-click="button.onClick(trow)">
                    <span class="fa" ng-class="'fa-' + button.icon" ng-show="button.icon"></span> {{button.label}}
                </button>
            </td>
        </tr>
    </tbody>	
    <tfoot>
        <tr>
            <td class="text-center"
                colspan="{{data.cols.length}}"
                st-pagination=""
                st-items-by-page="options.itemsByPage"
                st-displayed-pages="options.displayedPages">
            </td>
        </tr>
    </tfoot>
</table>
